<template>
	<div id="main" class="forced" :class="{ 'enlarged': !leftExplain}">
		<top-bar v-on:toggle="leftExplain=!leftExplain"></top-bar>
		<slider-bar></slider-bar>
		<div class="content-page">
			<div class="content pt-4">
				<div class="container-fluid">
					<router-view></router-view>
				</div>
			</div>
		</div>
	</div>
</template>
<script lang="ts" src="./main-layout.component.ts"></script>