<template>
	<div class="left main-sidebar">
		<div class="sidebar-inner leftscroll">
			<div id="sidebar-menu">
				<ul>
					<router-link tag="li" :to="item.Path" class="submenu" v-for="(item, index) in menuItem" :key="index" @click.native="itemClick(index)">
						<a :class="{ active: item.Active }" href="javascript:void(0);">
							<i :class="item.Icon"></i>
							<span> {{item.Alias}} </span>
						</a>
					</router-link>
					
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</template>
<script lang="ts" src="./page-slide-bar.component.ts"></script>